:root {
    --text-color: #f0f4f5;
    --background-color: #263343;
    --accent-color: #5933AA;
    --side-padding: 12px;
}

 .@import url('https://fonts.googleapis.com/css?family=Roboto:700');

 * {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro';
    text-align:center;
}

a{
    text-decoration: none;
    color: white;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(111, 79, 182, 0.34);
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 30px;
}

.navbar_logo {
    font-size: 30px;
}

.navbar_logo i {
    font-size: 30px;
    color: #5933AA;
}

.navbar_logo a span:nth-child(1) {
    color:#5933AA;
    font-weight: bold;
    font-stretch: expanded;
}

.navbar_logo a span:nth-child(2) {
    color: #45818e;
    font-weight: bold;
    font-stretch: expanded;
}

.navbar_menu{
    display: flex;
    color: #f0f4f5;
    list-style: none;
    padding-left: 0;
}

.navbar_menu li {
    font-size: large;
    padding: 8px 12px;   
}

.navbar_menu li:hover {
    text-decoration: underline;
    color: rgba(240, 244, 245,1);
}

.navbar_btn {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

.navbar_btn li {
    padding: 8px 12px;
    border-radius: 4px;
}

#login {
    background-color: #f0f4f5;
    color : #5933AA;  
}

#login:hover {
    cursor: pointer;
    border: 1px solid #5933AA;
    border-width: 1px;
    font-size: inherit;
    line-height: 0.85714286em;
}

#try {
    background-color: #5933AA;
    color: #f0f4f5;
    border-color: #f0f4f5;
}

#try:hover {
    -webkit-transition: 0.1s linear;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid #5933AA;
    border-width: 1px;
    font-size: inherit;
    line-height: 0.85714286em;
}

.navbar_toggleBtn{
    display: none;
    position: absolute;
    right: 60px;
    font-size: 24px;
    color: #5933AA;
}


.cover {
    display: flex;
    margin:0;
    height:100vh;
    background:#f0f4f5;
    background-image: url( "image/agree1.jpg" );
    background-size: cover;
    background-position: center;  
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.main1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align:left;  
    width:1000px;
    height: 95vh;
    margin: 10px;
    }


.title {
    color : rgb(126, 31, 126) ;
    font-size: 48px;
}

.contentp {
    font-size: 24px;
    color:rgb(99, 98, 98);
}


.main2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height:100vh;
    padding: 8px 12px;
}

#container2 {
    color:#999;
    text-transform: uppercase;
    font-size:36px;
    font-weight:bold;
    /* padding-top:200px;  
    position:fixed; */
    width:100%;
    bottom:45%;
    display:block;
}

#flip {
    height:50px;
    overflow:hidden;
}

#flip > div > div {
    color:#fff;
    padding:4px 12px;
    height:45px;
    margin-bottom:45px;
    display:inline-block;
}

#flip div:first-child {
    animation: show 5s linear infinite;
}

#flip div div {
    background:#42c58a;
}
#flip div:first-child div {
    background:#4ec7f3;
}
#flip div:last-child div {
    background:#DC143C;
}

@keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
}

.main3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height:100vh;
    padding: 8px 12px;
}

.container3 {
    font-size: 50px;
    text-align: center;
    color:#999;
    text-transform: uppercase;
    font-weight:bold;
    width:100%;
    bottom:45%;
    display:block;
}    

.signin {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(173,139,247,1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.signin:hover {
    background-color: rgba(89, 51, 170, 0.8);
}

.signin:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}


.article-return-to-top {
    border-top: 1px solid #ddd;
  }
  
  @media (min-width: 1024px) {
    .article-return-to-top {
      display: none;
    }
  }
  
  .article-return-to-top a {
    color: #000000;
    display: block;
    padding: 20px 0;
  }
  
  .article-return-to-top a:hover, .article-return-to-top a:focus {
    text-decoration: none;
  }
  
  .article-return-to-top .icon-arrow-up::before {
    font-size: 16px;
    margin-left: 5px;
  }
  
  [dir="rtl"] .article-return-to-top .icon-arrow-up::before {
    margin-right: 10px;
  }

/* footer */
  
footer {
    background: #fafafa;
    margin-top: 40px;
    padding-top: 0 !important;
  }
    
  .footer-content {
    max-width: 1160px;
    margin: 0 auto;
    padding: 1rem 0;
    display: block;
    min-width: auto;
  }
    
  .footer-brand {
    width: 100%;
    display: flex;
  }
    
  .footer-brand .image-logo {
    max-height: 16px;
    margin-right: .5rem;
  }
    
  .terms {
    margin-left: .5rem;
    font-size: 12px;
    line-height: 2;
    color: #777;
  }
    
  .terms:hover {
    text-decoration: underline;
  }
    
  .footer-info {
    margin-top: .5rem;
    font-size: 12px;
    line-height: 2;
    color: #999;
    width:90%;
  }
    
  .footer-link {
    width: 3%;
    margin-top: 10px;
  }
    
  .footer-link a {
    color: #1d1d1d;
  }
    
  .social-list {
    line-height: 2rem;
  }
    
  .social-list li {
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
  }
    
  .social-list li:not(:hover) {
    opacity: .6;
  }
    
  .social-list a {
    color: #252525;
  }
    
  .social-list svg {
    width: 18px;
  }
  
  footer .social-list img {
    max-width: initial !important;
  }
  
  @media (min-width: 576px) {
    .footer-content {
      display: flex;
      align-items: center;
    }
    
    .footer-brand {
      width: 40%;
      margin-top: -0.5rem;
    }
    
    .footer-brand .image-logo {
      max-height: 26px;
      margin-right: 1rem;
    }
    
    .footer-link {
      padding-left: 30px;
    }
    
    .terms {
      margin-left: 1rem;
    }
  }
  
  @media screen and (max-width: 767px) {
    footer .social-list {
      margin: 0 !important;
    }
    
    .footer-content {
      padding: 2rem 1rem;
      }
  }

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_menu li{
        width: 100%;
        text-align: center;

    }

    .navbar_btn {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar_toggleBtn {
        display: block;
    }

    .navbar_menu.active,
    .navbar_btn.active {
        display: flex;
    }


	.cover {
		flex-direction: column;
	}
}