@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
	--c-blue-900: #081030;
	--c-blue-800: #111b40;
	--c-blue-700: #152148;
	--c-blue-500: #1d7bdb;
	--c-blue-300: #293359;
	--c-blue-200: #4e5985;
	--c-blue-100: #dfe8ff;
	--c-green-400: #4ade80;
}

/* Some basic CSS overrides */
body {
	margin: 0;
	font-family: 'Source Sans Pro';
	background-color: var(--c-blue-100);
	color: var(--c-blue-100);
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: rgb(188, 161, 245);
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
		text-align: center;
    padding: 8px 30px;
}

.navbar_logo {
    font-size: 30px;
}

.navbar_logo i {
    font-size: 30px;
    color: #5933AA;
}

.navbar_logo a span:nth-child(1) {
    color:#5933AA;
    font-weight: bold;
    font-stretch: expanded;
}

.navbar_logo a span:nth-child(2) {
    color: #45818e;
    font-weight: bold;
    font-stretch: expanded;
}

.navbar_menu{
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar_menu li {
    font-size: large;
    padding: 8px 12px;   
}

.navbar_menu li:hover {
    text-decoration: underline;
    color: rgba(240, 244, 245,1);
}

.navbar_btn {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

.navbar_btn li {
    padding: 8px 12px;
    border-radius: 4px;
}

#login {
    background-color: #f0f4f5;
    color : #5933AA;  
}

#login:hover {
    cursor: pointer;
    border: 1px solid #5933AA;
    border-width: 1px;
    font-size: inherit;
    line-height: 0.85714286em;
}

#try {
    background-color: #5933AA;
    color: #f0f4f5;
    border-color: #f0f4f5;
}

#try:hover {
    /*-webkit-transition: 0.1s linear;*/
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid #5933AA;
    border-width: 1px;
    font-size: inherit;
    line-height: 0.85714286em;
}

.navbar_toggleBtn{
    display: none;
    position: absolute;
    right: 60px;
    font-size: 24px;
    color: #5933AA;
}


a{
    text-decoration: none;
	color: inherit;
}


button,
input,
select,
textarea {
	font: inherit;
}


/* End basic CSS override */

.pricingmain {
  display: flex;
	flex-direction: column;
  margin:0;
	width:100%;
	background-color: var(--c-blue-100);
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
  padding: 10VH 24px;
}


.text1 {
	justify-content: center;
  top:400px;
	width:65%;
  font-size: 16px;
  color: #4e5985;
  padding: 5VH 12px;
	margin-left: auto;
	margin-right: auto;
}

.text2 {
	display: inline-flex;
	justify-content: space-between;
	top:400px;
	width:60%;
  font-size: 18px;
  color: #432f6d;
	margin-left: auto;
	margin-right: auto;
  padding: 10px 12px;
}

.ttext {
	color: #432f6d;
}

.stext {
	text-decoration:dotted;
	font-size: 18px;
	text-align: center;
	background-color: rgba(111, 79, 182, 0.34);
	color:#45818e;
	margin-top: 30px;;
	padding: 8px 10px;
	height: 40px;
}

.pricing{
	width: 60%;
	display: inline-flex;
	justify-content: space-between;
  margin-left: auto;
	margin-right: auto;
  padding: 8px 10px;
}

.price-table {
	background-color: var(--c-blue-700);
	border-radius: 16px;
	max-width: 375px;
	min-height: 100%;
	padding: 35px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 15px 45px 0 rgba(0, 0, 0, 0.15);
	position: relative;
	background-image: linear-gradient(135deg, rgba(74, 222, 128, 0.15), rgba(29, 123, 219, 0.1) 20%, var(--c-blue-700) 40%, var(--c-blue-700) 100%);
}
.price-table:after {
	content: "";
	display: block;
	top: -3px;
	left: -3px;
	bottom: -3px;
	right: -3px;
	z-index: -1;
	position: absolute;
	border-radius: 16px;
	background-image: linear-gradient(135deg, var(--c-green-400), var(--c-blue-500) 40%, var(--c-blue-300) 60%, var(--c-blue-700) 100%);
}
.price-table .price {
	font-size: 2rem;
	line-height: 1;
	font-weight: 700;
	display: inline-flex;
	align-self: center;
	align-items: center;
	gap: 4px;
	position: relative;
	color: #fff;
}
.price-table .price small {
	font-size: 0.8rem;
	font-weight: 200;
	position: absolute;
	align-items: flex-end;
	top: 20px;
	right: -5ch;
}
.price-table .title {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.25;
	text-align: center;
	margin-top: 16px;
	color: #fff;
}
.price-table .description {
	font-size: 1rem;
	text-align: center;
	margin-top: 4px;
	color: #fff;
}

.features {
	margin-top: 30px;
}

.feature {
	position: relative;
}
.feature + .feature {
	margin-top: 16px;
}
.feature summary {
	display: inline-flex;
	align-items: center;
	list-style: none;
}
.feature summary::-webkit-details-marker {
	display: none;
}
	.feature[open] summary:after {
	content: "";
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	z-index: 50;
}
.feature[open] div {
	animation: scale 0.15s ease;
}
.feature .checkmark {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: var(--c-green-400);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 12px;
}
.feature .checkmark svg {
	width: 18px;
	height: 18px;
	color: #fff;
}
.feature .question-icon {
	display: flex;
	align-items: center;
	margin-left: 6px;
	cursor: pointer;
}
.feature .answer {
	padding: 12px;
	background-color: var(--c-blue-800);
	border-radius: 6px;
	position: absolute;
	top: -12px;
	z-index: 100;
	transform: translatey(-100%) translatex(-50%);
	transform-origin: bottom center;
	width: 80%;
	left: 50%;
	border: 1px solid var(--c-blue-300);
	box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
}




.article-return-to-top {
	border-top: 1px solid #ddd;
}

@media (min-width: 1024px) {
	.article-return-to-top {
		display: none;
	}
}

.article-return-to-top a {
	color: #000000;
	display: block;
	padding: 20px 0;
}

.article-return-to-top a:hover, .article-return-to-top a:focus {
	text-decoration: none;
}

.article-return-to-top .icon-arrow-up::before {
	font-size: 16px;
	margin-left: 5px;
}

[dir="rtl"] .article-return-to-top .icon-arrow-up::before {
	margin-right: 10px;
}

/* footer */

footer {
	background: #fafafa;
	margin-top: 40px;
	padding-top: 0 !important;
}
	
.footer-content {
	max-width: 1160px;
	margin: 0 auto;
	padding: 1rem 0;
	display: block;
	min-width: auto;
}
	
.footer-brand {
	width: 100%;
	display: flex;
}
	
.footer-brand .image-logo {
	max-height: 16px;
	margin-right: .5rem;
}
	
.terms {
	margin-left: .5rem;
	font-size: 12px;
	line-height: 2;
	color: #777;
}
	
.terms:hover {
	text-decoration: underline;
}
	
.footer-info {
	margin-top: .5rem;
	font-size: 12px;
	line-height: 2;
	color: #999;
	width:90%;
}
	
.footer-link {
	width: 3%;
	margin-top: 10px;
}
	
.footer-link a {
	color: #1d1d1d;
}
	
.social-list {
	line-height: 2rem;
}
	
.social-list li {
	transition: 0.2s ease;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
}
	
.social-list li:not(:hover) {
	opacity: .6;
}
	
.social-list a {
	color: #252525;
}
	
.social-list svg {
	width: 18px;
}

footer .social-list img {
	max-width: initial !important;
}

@media (min-width: 576px) {
	.footer-content {
		display: flex;
		align-items: center;
	}
	
	.footer-brand {
		width: 40%;
		margin-top: -0.5rem;
	}
	
	.footer-brand .image-logo {
		max-height: 26px;
		margin-right: 1rem;
	}
	
	.footer-link {
		padding-left: 30px;
	}
	
	.terms {
		margin-left: 1rem;
	}
}

@media screen and (max-width: 767px) {
	footer .social-list {
		margin: 0 !important;
	}
	
	.footer-content {
		padding: 2rem 1rem;
		}
}


@keyframes scale {
	0% {
    	transform: translatey(-100%) translatex(-50%) scale(0);
	}
	100% {
    transform: translatey(-100%) translatex(-50%) scale(1);
	}
}


@media screen and (max-width: 768px) {
	.navbar {
		flex-direction: column;
		align-items: flex-start;
		padding: 8px 24px;
	}

	.navbar_menu {
		display: none;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.navbar_menu li{
		width: 100%;
		text-align: center;

	}

	.navbar_btn {
		display: none;
		justify-content: center;
		width: 100%;
	}

	.navbar_toggleBtn {
		display: block;
	}

	.navbar_menu.active,
	.navbar_btn.active {
		display: flex;
	}

	.pricing {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 8px 24px;
	}
}